.dark {
  --md-sys-color-primary: rgb(193 193 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(20 0 168);
  --md-sys-color-primary-container: rgb(82 82 227);
  --md-sys-color-on-primary-container: rgb(229 227 255);
  --md-sys-color-secondary: rgb(193 193 255);
  --md-sys-color-on-secondary: rgb(41 41 99);
  --md-sys-color-secondary-container: rgb(66 67 126);
  --md-sys-color-on-secondary-container: rgb(178 178 246);
  --md-sys-color-tertiary: rgb(255 169 250);
  --md-sys-color-on-tertiary: rgb(90 0 95);
  --md-sys-color-tertiary-container: rgb(164 54 168);
  --md-sys-color-on-tertiary-container: rgb(255 219 248);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 27);
  --md-sys-color-on-background: rgb(228 225 237);
  --md-sys-color-surface: rgb(19 19 27);
  --md-sys-color-on-surface: rgb(228 225 237);
  --md-sys-color-surface-variant: rgb(70 69 85);
  --md-sys-color-on-surface-variant: rgb(199 196 215);
  --md-sys-color-outline: rgb(144 143 160);
  --md-sys-color-outline-variant: rgb(70 69 85);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 237);
  --md-sys-color-inverse-on-surface: rgb(48 47 57);
  --md-sys-color-inverse-primary: rgb(73 73 218);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(9 0 107);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(47 43 195);
  --md-sys-color-secondary-fixed: rgb(225 223 255);
  --md-sys-color-on-secondary-fixed: rgb(19 18 78);
  --md-sys-color-secondary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 65 123);
  --md-sys-color-tertiary-fixed: rgb(255 214 248);
  --md-sys-color-on-tertiary-fixed: rgb(55 0 59);
  --md-sys-color-tertiary-fixed-dim: rgb(255 169 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(126 6 133);
  --md-sys-color-surface-dim: rgb(19 19 27);
  --md-sys-color-surface-bright: rgb(57 56 66);
  --md-sys-color-surface-container-lowest: rgb(13 13 22);
  --md-sys-color-surface-container-low: rgb(27 27 35);
  --md-sys-color-surface-container: rgb(31 31 39);
  --md-sys-color-surface-container-high: rgb(41 41 50);
  --md-sys-color-surface-container-highest: rgb(52 52 61);
}
