.dark-high-contrast {
  --md-sys-color-primary: rgb(241 238 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(188 189 255);
  --md-sys-color-on-primary-container: rgb(3 0 60);
  --md-sys-color-secondary: rgb(241 238 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(188 189 255);
  --md-sys-color-on-secondary-container: rgb(3 0 60);
  --md-sys-color-tertiary: rgb(255 234 249);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 163 251);
  --md-sys-color-on-tertiary-container: rgb(28 0 30);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 19 27);
  --md-sys-color-on-background: rgb(228 225 237);
  --md-sys-color-surface: rgb(19 19 27);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 69 85);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(241 238 255);
  --md-sys-color-outline-variant: rgb(195 193 211);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 237);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(48 44 196);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(4 0 77);
  --md-sys-color-secondary-fixed: rgb(225 223 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(7 5 68);
  --md-sys-color-tertiary-fixed: rgb(255 214 248);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 169 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(38 0 40);
  --md-sys-color-surface-dim: rgb(19 19 27);
  --md-sys-color-surface-bright: rgb(80 79 89);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 31 39);
  --md-sys-color-surface-container: rgb(48 47 57);
  --md-sys-color-surface-container-high: rgb(59 58 68);
  --md-sys-color-surface-container-highest: rgb(70 70 80);
}
