.light-medium-contrast {
  --md-sys-color-primary: rgb(26 9 180);
  --md-sys-color-surface-tint: rgb(73 73 218);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(82 82 227);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(47 48 105);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(102 103 165);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(99 0 105);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(164 54 168);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 35);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(16 16 25);
  --md-sys-color-surface-variant: rgb(227 224 244);
  --md-sys-color-on-surface-variant: rgb(53 53 67);
  --md-sys-color-outline: rgb(82 81 97);
  --md-sys-color-outline-variant: rgb(108 107 124);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 47 57);
  --md-sys-color-inverse-on-surface: rgb(242 239 252);
  --md-sys-color-inverse-primary: rgb(193 193 255);
  --md-sys-color-primary-fixed: rgb(89 89 234);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(63 61 209);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(102 103 165);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(78 79 138);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(172 62 175);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(143 32 148);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(200 197 209);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 254);
  --md-sys-color-surface-container: rgb(234 230 243);
  --md-sys-color-surface-container-high: rgb(222 219 231);
  --md-sys-color-surface-container-highest: rgb(211 208 220);
}
