.light {
  --md-sys-color-primary: rgb(25 87 150);
  --md-sys-color-surface-tint: rgb(25 87 150);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(212 228 247);
  --md-sys-color-on-primary-container: rgb(0 45 82);
  --md-sys-color-secondary: rgb(69 91 116);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(216 227 243);
  --md-sys-color-on-secondary-container: rgb(24 45 68);
  --md-sys-color-tertiary: rgb(31 108 122);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(190 232 240);
  --md-sys-color-on-tertiary-container: rgb(0 58 66);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(246 248 252);
  --md-sys-color-on-background: rgb(24 29 36);
  --md-sys-color-surface: rgb(246 248 252);
  --md-sys-color-on-surface: rgb(24 29 36);
  --md-sys-color-surface-variant: rgb(222 227 236);
  --md-sys-color-on-surface-variant: rgb(66 74 86);
  --md-sys-color-outline: rgb(114 123 137);
  --md-sys-color-outline-variant: rgb(194 200 212);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 58);
  --md-sys-color-inverse-on-surface: rgb(239 241 246);
  --md-sys-color-inverse-primary: rgb(167 204 245);
  --md-sys-color-primary-fixed: rgb(212 228 247);
  --md-sys-color-on-primary-fixed: rgb(0 28 54);
  --md-sys-color-primary-fixed-dim: rgb(167 204 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 55 100);
  --md-sys-color-secondary-fixed: rgb(216 227 243);
  --md-sys-color-on-secondary-fixed: rgb(3 26 48);
  --md-sys-color-secondary-fixed-dim: rgb(188 204 224);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 67 91);
  --md-sys-color-tertiary-fixed: rgb(190 232 240);
  --md-sys-color-on-tertiary-fixed: rgb(0 36 43);
  --md-sys-color-tertiary-fixed-dim: rgb(162 215 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 82 93);
  --md-sys-color-surface-dim: rgb(214 219 228);
  --md-sys-color-surface-bright: rgb(246 248 252);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 243 248);
  --md-sys-color-surface-container: rgb(234 238 244);
  --md-sys-color-surface-container-high: rgb(228 232 239);
  --md-sys-color-surface-container-highest: rgb(222 227 235);
}
